
{{#section 'header'}}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <link rel="stylesheet" href="/public/css/course-detail.css">
{{/section}}
{{!-- --------------------------------------------------------------- --}}
<!-- Course brief-->
<div class="head">
  <div class="head-content">
      <div class="row">
          <h1>Course infomations</h1>
          <div class="col-7">
              <form action="" method="post">
                  <div class="mb-sm-2 w-75">
                      <input type="text" name="course-name" class="form-control" id="course-name" placeholder="Course name" {{#if course}}value="{{course.title}}"{{/if}} required>
                  </div>

                  <div class="mb-sm-2 w-75">
                    <input type="url" name="ava-link" id="ava_link"  class="form-control" placeholder="Avatar URL" {{#if course}}value="{{course.ava_link}}"{{/if}} required>
                  </div>

                  <select class="form-select mb-sm-2 w-50" id="cat-select" required>
                      <option {{#unless course}}selected{{/unless}} disabled>Category</option>
                      {{#each subcats}}
                          <option value="{{this.id}}" {{#if this.is_selected}}selected{{/if}}>{{this.title}}</option>
                      {{/each}}
                  </select>

                  <div class="row w-50">
                    <div class="col-7 mb-sm-2">
                      <input type="number"  min="0" step="1" name="price" id="price"  class="form-control" placeholder="Price" {{#if course}}value="{{course.price}}"{{/if}} required>
                    </div>
                    <div class="col mb-sm-2">
                        <input required type="number"  min="0" step="1" name="discount" id="discount"  class="form-control" placeholder="% Discount" {{#if course}}value="{{course.discount}}"{{else}}value="0"{{/if}}>
                    </div>
                  </div>

                  <div class="mb-sm-2">
                      <input required type="text" name="short-description" class="form-control w-75" id="short-description" placeholder="Short description" {{#if course}}value="{{course.small_description}}"{{/if}}>
                  </div>
              </form>

              <select class="form-select w-25" id="status-select" required>
                <option {{#unless course}}selected{{/unless}} disabled>Status</option>
                <option {{#unless course.is_complete}}selected{{/unless}} value="INCOMPLETE">On going</option>
                <option {{#if course.is_complete}}selected{{/if}} value="COMPLETE">Complete</option>
              </select>
          </div>

          <div class="col">
              <img src="{{#if course}}{{course.ava_link}}{{else}}https://res.cloudinary.com/eduwebcloud/image/upload/v1610895593/ava/online-3412473_1920_1_wxcd5l.jpg{{/if}}" alt="Course avatar" width="350px"; height="260px">
          </div>
      </div>
  </div>
</div>
<!--Course detail-->
<!-- Tab name-->

<div class="body border shadow-lg">
  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
          <a class="nav-link active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </svg> Description</a>
      </li>
       <li class="nav-item" role="presentation">
          <a class="nav-link" id="syllabus-tab" data-bs-toggle="tab" href="#syllabus" role="tab" aria-controls="syllabus" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
          <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
          </svg> Syllabus</a>
      </li>
  </ul>
<!-- Tab content-->
  <div class="tab-content p-4" id="myTabContent">
      <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
          <div id="summernote"></div>
      </div>

      <div class="tab-pane fade" id="syllabus" role="tabpanel" aria-labelledby="syllabus-tab">
          <div style="width:50%">
              <h4>Courses content</h4>
              <ul>
                  {{#if syllabus}}
                      {{#each syllabus}}
                          <div>Lesson {{add @index 1}}</div>
                          <input type="text" name="lesson-title" class="form-control mb-sm-2" id="lesson-title1" value="{{this.title}}">
                          <input type="text" name="video-url" class="form-control mb-sm-2" id="video-url1" value="{{this.vid_link}}">
                          <br>
                      {{/each}}
                  {{/if}}
                  <hr>
                  <input type="text" name="lesson-title" class="form-control mb-sm-2" id="add-lesson-title" placeholder="Lesson title">
                  <input type="text" name="video-url" class="form-control mb-sm-2" id="add-lesson-url" placeholder="Video url">
                  <div style="color: red;" id="add-lesson-msg"></div>
                  <button type="button" class="btn mb-sm-2" style="background-color: #e74c3c; color: #fff;" id="add-lesson-btn">Add lesson</button>

                  <script>
                      $('#add-lesson-btn').on('click', (e) => {
                          failed = false

                          if ($('#add-lesson-title').val() === '') {
                              failed = true
                              return $('#add-lesson-msg').text('Title can not be empty.')
                          }

                          if (!failed) {
                              if ($('#add-lesson-url').val() === '') {
                                  failed = true
                                  return $('#add-lesson-msg').text('URL can not be empty.')
                              }
                          }

                          if (!failed) {
                              $.ajax({
                                  url: '/course/single/{{course.id}}/edit/lesson',
                                  type: 'POST',
                                  data: {
                                  	  title: $('#add-lesson-title').val(),
                                      vid_link: $('#add-lesson-url').val(),
                                      serial: {{syllabus.length}} + 1
                                  },
                                  async: false
                              })
                              location.reload()
                          }
                      })
                  </script>
              </ul>
          </div>

      </div>
  </div> <!--End of tab content-->
  
</div>

<div class="body">
    <div id="save-msg" class="text-success"></div>
    <button type="button" id="save-btn" class="btn" style="background-color: #e74c3c; color: #fff;">Save</button>

    {{#if edit}}
        <script>
            $('#save-btn').on('click', () => {
                let failed = false

                $.ajax({
                    url: '/course/single/{{course.id}}/check/available/title',
                    type: 'POST',
                    data: { title: $('#course-name').val() },
                    async: false,
                    success: (data) => {
                        if (!data.status) {
                            failed = true
                            return $('#save-msg').text('Course title ' + $('#course-name').val() + ' already existed.')
                        }
                    }
                })

                if (!failed) {
                    $.ajax({
                        url: '/course/single/{{course.id}}/edit',
                        type: 'POST',
                        data: {
                            cat_id: $('#cat-select').val(),
                            title: $('#course-name').val(),
                            ava_link: $('#ava_link').val(),
                            price: $('#price').val(),
                            discount: $('#discount').val(),
                            small_description: $('#short-description').val(),
                            full_description: $('#summernote').summernote('code'),
                            status: $('#status-select').val()
                        },
                        async: false,
                    })
                    location.reload()
                }
            })
        </script>
    {{else}}
        <script>
            $('#save-btn').on('click', () => {
                let failed = false

                $.ajax({
                    url: '/course/single/{{course.id}}/check/available/title',
                    type: 'POST',
                    data: { title: $('#course-name').val(), noExclude: true },
                    async: false,
                    success: (data) => {
                        if (!data.status) {
                            failed = true
                            return $('#save-msg').text('Course title ' + $('#course-name').val() + ' already existed.')
                        }
                    }
                })

                if (!failed) {
                    $.ajax({
                        url: '/course/new',
                        type: 'POST',
                        data: {
                            cat_id: $('#cat-select').val(),
                            title: $('#course-name').val(),
                            ava_link: $('#ava_link').val(),
                            price: $('#price').val(),
                            discount: $('#discount').val(),
                            small_description: $('#short-description').val(),
                            full_description: $('#summernote').summernote('code'),
                            status: $('#status-select').val()
                        },
                        async: false,
                    })
                    location.reload()
                }
            })
        </script>
    {{/if}}
</div>


{{!-- --------------------------------------------------------------- --}}

<script>
  $('#summernote').summernote({
    placeholder: 'Course description',
    tabsize: 2,
    height: 208,
    toolbar: [
      ['style', ['style']],
      ['font', ['bold', 'underline', 'clear']],
      ['color', ['color']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['table', ['table']],
      ['insert', ['link', 'picture', 'video']],
      ['view', ['fullscreen', 'codeview', 'help']]
    ]
  })
</script>

{{#if course}}
    <script>
        $('#summernote').summernote('code', '{{{course.full_description}}}')
    </script>
{{/if}}
{{!-- --------------------------------------------------------------- --}}
