
{{#section 'header'}}
    <link rel="stylesheet" href="/public/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/owlcarousel/assets/owl.theme.default.min.css">
    <script src="/public/owlcarousel/owl.carousel.min.js"></script>
{{/section}}
 
{{!-- ----------------------------------------------- --}}
   <script>
        $(document).ready(function(){
           $('.owl-carousel').owlCarousel({
                loop:false,
                margin:15,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:5
                    }
                }
            })
        });
    </script>

    
<div style="width:80%; margin: 0 auto;">
    <img src="/public/img/online-edu.jpg" class="img-fluid">
</div>

<div style="height: 1rem;"></div>

<div style="width: 80%; margin: 0 auto;">
    <!-- Show 5-->
    <div><h3>Most regular courses in the past week</h3></div>
    <div class="owl-carousel owl-theme">
        {{#each briefMostRegular}}
        <div class="item">
            <a href="/course/single/{{this.id}}"><img src="{{this.ava_link}}" height="150px" width="250px"></a> <!-- w = h*1.67-->
            <b>{{this.title}}</b>
            <h6 style="margin-bottom: 0;">{{this.cat_title}} <br></h6>
            {{this.fullname}}
            <div>{{formatRate this.rate}}⭐ ({{this.num_rate}})</div>
            <b style="font-size: large; {{#if this.discount}}font-style: italic; color: red;{{/if}}">
                {{#if this.discount}}
                    ${{discountPrice this.price this.discount}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{this.discount}}% off
                {{else}}
                    ${{this.price}}
                {{/if}}
            </b>
        </div>
        {{/each}}
    </div>
    <hr>
    <!-- Show 10-->
    <div><h3>Most viewed courses</h3></div>
    <div class="owl-carousel owl-theme">
        {{#each briefMostViewed}}
            <div class="item">
                <a href="/course/single/{{this.id}}"><img src="{{this.ava_link}}" height="150px" width="250px"></a>
                <b>{{this.title}}</b>
                <h6 style="margin-bottom: 0;">{{this.cat_title}} <br></h6>
                {{this.fullname}}
                <div>{{formatRate this.rate}}⭐ ({{this.num_rate}})</div>
                <b style="font-size: large; {{#if this.discount}}font-style: italic; color: red;{{/if}}">
                    {{#if this.discount}}
                        ${{discountPrice this.price this.discount}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{this.discount}}% Off
                    {{else}}
                        ${{this.price}}
                    {{/if}}
                </b>
            </div>
        {{/each}}
    </div>
    <hr>
    <!-- Show 10-->
    <div><h3>Newest courses</h3></div>
    <div class="owl-carousel owl-theme">
        {{#each briefNewest}}
            <div class="item">
                <a href="/course/single/{{this.id}}"><img src="{{this.ava_link}}" height="150px" width="250px"></a>
                <b>{{this.title}}</b>
                <h6 style="margin-bottom: 0;">{{this.cat_title}} <br></h6>
                {{this.fullname}}
                <div>{{formatRate this.rate}}⭐ ({{this.num_rate}})</div>
                <b style="font-size: large; {{#if this.discount}}font-style: italic; color: red;{{/if}}">
                    {{#if this.discount}}
                        ${{discountPrice this.price this.discount}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{this.discount}}% Off
                    {{else}}
                        ${{this.price}}
                    {{/if}}
                </b>
            </div>
        {{/each}}
    </div>
    <hr>
    <!-- Show 5-->
    <div><h3>Most registered fields in the past week</h3></div>
    <div class="owl-carousel owl-theme">
        {{#each mostRegistered}}
        <div class="item" style="text-align: center;">
            <a href="/search/cat/{{this.id}}"><img src="{{this.ava_link}}" height="150px" width="250px"></a>
            <b>{{this.title}}</b>
        </div>
        {{/each}}
    </div>

    <div style="height: 2rem;"></div>
</div>
<hr>
{{!-- ----------------------------------------------- --}}
