<hr>

<div class="container">
    <div class="row" style="width: 90%; margin: 0 auto;">
            <div class="col-2">
                <h5>Filter</h5>
                <h6>Categories</h6>
                {{#each subcats}}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">{{this.title}}</label>
                    </div>
                {{/each}}
                <br>
                <h6>Lecturers</h6>
                {{#each teachers}}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">{{this.fullname}}</label>
                    </div>
                {{/each}}
            </div>

            <div class="col">
                {{#each courses}}
                    <div class="search-result-item">
                        <div class="search-result-item-body">
                            <div class="row">
                                <div class="col-3">
                                    <a href="/course/single/{{this.id}}"><img class="img-fluid" src="{{this.ava_link}}"></a>
                                </div>
                                <div class="col-6">
                                    <h4 class="search-result-item-heading"><a href="/course/single/{{this.id}}">{{this.title}}</a></h4>
                                    <span class="field">{{this.cat_title}} | </span>
                                    <span class="lecturer">{{this.fullname}}</span>
                                    <div>{{this.small_description}}</div>
                                    <div>{{formatNum this.rate}} ⭐ ({{this.num_rate}} ratings)</div>
                                </div>
                                <div class="col">
                                    {{#isGreater this.rate 3}}
                                        <span class="badge bg-warning fw-bold">Bestseller</span>
                                    {{/isGreater}}
                                    {{#if this.is_new}}
                                        <span class="badge bg-danger fw-bold">New</span>
                                    {{/if}}
                                    {{#if this.is_complete}}
                                        <span class="badge bg-success fw-bold">Complete</span>
                                    {{/if}}
                                    <h3>
                                        ${{this.final_price}} {{#if this.discount}}| <span style="color: #f32121;">{{this.discount}}%off</span>{{/if}}
                                    </h3>

                                    <div style="margin-top: 0.5rem;">
                                        <button id="{{this.randomID}}" data-action="/admin/course/{{this.id}}/{{#if this.disabled}}unblock{{else}}block{{/if}}" type="button" class="btn {{#if this.disabled}}btn-primary{{else}}btn-danger{{/if}} rounded-pill fw-bold text-light">{{#if this.disabled}}Unblock{{else}}Block{{/if}}</button>

                                        <script>
                                            $('#{{this.randomID}}').on('click', (e) => {
                                                $.ajax({
                                                    url: $('#{{this.randomID}}').data('action'),
                                                    type: 'POST',
                                                    async: false,
                                                })
                                                location.reload()
                                            })
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {{/each}}
            </div>

        <nav class="pagination-margin">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item {{#unless this.courses}}disabled{{/unless}} {{#if this.is_first}}disabled{{/if}}">
                    <a class="page-link" href="?page={{this.prev_page}}">Previous</a>
                </li>
                {{#each page_numbers}}
                    <li class="page-item {{#if this.isCurrentPage}}disabled{{/if}}">
                    <a class="page-link active" href="{{#unless this.isCurrentPage}}?page={{value}}{{/unless}}">{{this.value}}</a>
                    </li>
                {{/each}}
                <li class="page-item {{#unless this.courses}}disabled{{/unless}} {{#if this.is_last}}disabled{{/if}}">
                    <a class="page-link" href="?page={{this.next_page}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<hr>