<hr>

<div class="container">
    <div class="row" style="width: 90%; margin: 0 auto;">
        {{#if is_teacher}}
            <div class="col-2">
                <h4>New lecturer account</h4>
                    <div class="form-group mb-sm-2">
                        <input type="text" class="form-control my-input" id="fullname" placeholder="Full name">
                    </div>
                    <div class="form-group mb-sm-2">
                        <input type="text" class="form-control my-input" id="username" placeholder="Username">
                    </div>
                    <div class="form-group mb-sm-2">
                        <input type="email" class="form-control my-input" id="email" placeholder="Email">
                    </div>
                    <div class="form-group mb-sm-2">
                        <input type="password" id="password" class="form-control my-input" placeholder="Password">
                    </div>
                    <div class="text-center" style="color: red;" id="create-account-msg"></div>
                    <div class="text-center">
                        <button type="button" class=" btn btn-info text-light" id="create-account-btn">Create</button>
                    </div>
            </div>

            <script>
                $('#create-account-btn').on('click', (e) => {
                    failed = false

                    $.ajax({
                        url: '/account/check/exist/username',
                        type: 'POST',
                        data: { username: $('#username').val() },
                        async: false,
                        success: (data) => {
                            if (data.status) {
                                failed = true
                                return $('#create-account-msg').text('Username ' + $('#username').val() + ' is already existed.')
                            }
                        }
                    })

                    if (!failed) $.ajax({
                        url: '/account/check/exist/email',
                        type: 'POST',
                        data: { email: $('#email').val() },
                        async: false,
                        success: (data) => {
                            if (data.status) {
                                failed = true
                                return $('#create-account-msg').text('Email ' + $('#email').val() + ' is already registered.')
                            }
                        }
                    })

                    if (!failed) {
                        $.ajax({
                            url: '/account/register',
                            type: 'POST',
                            data: {
                            	fullname: $('#fullname').val(),
                                username: $('#username').val(),
                                email: $('#email').val(),
                                password: $('#password').val(),
                                verified: true
                            },
                            async: false
                        })
                        location.reload()
                    }
                })
            </script>
        {{/if}}

        <div class="col">
            {{#if credentials}}
                {{#each credentials}}
                    <div class="search-result-item">
                        <div class="search-result-item-body">
                            <div class="row">
                                <div class="col-3">
                                    <a href="#"><img class="img-fluid" src="{{this.ava_link}}" alt=""></a>
                                </div>
                                <div class="col-6">
                                    <h4 class="search-result-item-heading"><a href="#">{{this.fullname}}</a></h4>
                                    <span class="field">Username: {{this.username}}</span>
                                    <p>Email: {{this.email}}</p>
                                    {{#unless this.is_confirmed}}<span class="field" style="color: red !important; font-weight: bold">Account not confirmed</span><br>{{/unless}}
                                    <span class="badge {{#if ../is_student}}bg-info{{else}}bg-success{{/if}} fw-bold">{{#if ../is_student}}Student{{else}}Lecturer{{/if}}</span>
                                    <div style="margin-top: 2rem;">
                                        <button id="{{this.randomID}}" data-action="/admin/{{#if ../is_student}}student{{else}}teacher{{/if}}/{{this.username}}/{{#if this.disabled}}unblock{{else}}block{{/if}}" type="button" class="btn {{#if this.disabled}}btn-primary{{else}}btn-danger{{/if}} btn-lg rounded-pill fw-bold text-light">{{#if this.disabled}}Unblock{{else}}Block{{/if}}</button>

                                        <script>
                                            $('#{{this.randomID}}').on('click', (e) => {
                                                $.ajax({
                                                    url: $('#{{this.randomID}}').data('action'),
                                                    type: 'POST',
                                                    async: false,
                                                })
                                                location.reload()
                                            })
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {{/each}}
            {{else}}
                <div style="text-align: center;">
                    <p>No account to show.</p>
                </div>
            {{/if}}
        </div>

        <nav class="pagination-margin">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item {{#unless this.credentials}}disabled{{/unless}} {{#if this.is_first}}disabled{{/if}}">
                    <a class="page-link" href="?page={{this.prev_page}}">Previous</a>
                </li>
                {{#each page_numbers}}
                    <li class="page-item {{#if this.isCurrentPage}}disabled{{/if}}">
                    <a class="page-link active" href="{{#unless this.isCurrentPage}}?page={{value}}{{/unless}}">{{this.value}}</a>
                    </li>
                {{/each}}
                <li class="page-item {{#unless this.credentials}}disabled{{/unless}} {{#if this.is_last}}disabled{{/if}}">
                    <a class="page-link" href="?page={{this.next_page}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<hr>
